= form_for([@chapter, @page]) do |f| 
    - if f.object.new_record?
        %legend= "#{t(:_NEW)} #{t(:page)} for #{t(:chapter)}: \"#{@chapter.name}\""
    - else
        %legend= "#{t(:_EDIT)} #{t(:page)} #{@page.num} for: #{t(:chapter)} \"#{@chapter.name}\""
    = render 'shared/error_messages', object: f.object

    / = f.text_field :book, value: params[:book_id]

    .form-horizontal
        .control-group
            = f.label :num, class: 'control-label'
            .controls
                = f.number_field :num, class: 'span1' 

        .control-group
            = f.label :active, class: 'control-label'
            .controls
                = f.check_box :active

        .control-group
            = f.label :content, class: 'control-label'
            .controls
                = f.text_area :content, class: 'span11 editor-area' 

        .form-actions
            .btn-overlay
                = f.button t("_BTN_SAVE"), class: "btn btn-primary"
                = f.button t('_BTN_SAVE_AND_CONTINUE'), class: 'btn btn-success', name: 'continue', value: 'continue'
                = link_to t("_BTN_CANCEL"), chapter_pages_path(@chapter), class: "btn" 


- content_for :javascript do 
    = stylesheet_link_tag    "redactor/redactor"
    = javascript_include_tag "redactor/redactor"

    :javascript
        $('textarea.editor-area').redactor({ 
            autoresize: true,
            minHeight: 300, 
            maxHeight: 650,
            'imageUpload': "#{rhinoart.upload_image_path}",
            'imageGetJson': "#{rhinoart.image_list_path}",
            'fileUpload': "#{rhinoart.upload_file_path}"
        });
