- av_locales = (current_user.present? && current_user.locales.present? && current_user.locales.count > 0) ? current_user.locales : I18n.available_locales

= form_for([@chapter, @page]) do |f| 
    = hidden_field_tag :redirect_to, params[:redirect_to] if params[:redirect_to].present?
    
    - if f.object.new_record?
        %legend= "#{t(:book)}: #{@chapter.book.name} / #{t(:chapter)}: \"#{@chapter.name}\""
    - else
        %legend= "#{t(:book)}: #{@page.book.name} / #{t(:chapter)}: \"#{@chapter.name}\" / #{t(:page)} #{@page.num}"
        
    = render 'shared/error_messages', object: f.object

    / = f.text_field :book, value: params[:book_id]

    .row-fluid
        .span1
            = f.label :num, class: 'control-label'
            .controls
                = f.number_field :num, class: 'span12' 

        .span2
            = f.label :active, class: 'control-label'
            .controls
                = f.check_box :active

    .row-fluid
        - av_locales.each do |locale| 
            - I18n.locale = locale          
            %div{ class: "span#{12/av_locales.count}"}
                %legend= locale
                .control-group
                    = f.label :content, class: 'control-label'
                    .controls
                        = f.text_area "content_#{locale}", class: 'span11 editor-area' 

    .form-actions
        .btn-overlay
            = f.button t("_BTN_SAVE"), class: "btn btn-primary"
            / = f.button t('_BTN_SAVE_AND_CONTINUE'), class: 'btn btn-success', name: 'continue', value: 'continue'
            = link_to t("_BTN_CANCEL"), chapter_pages_path(@chapter), class: "btn" 


- content_for :javascript do 
    = stylesheet_link_tag    "redactor/redactor"
    = javascript_include_tag "redactor/redactor"

    :javascript
        $('textarea.editor-area').redactor({ 
            autoresize: false,
            minHeight: 620, 
            maxHeight: 620,
            'imageUpload': "#{rhinoart.upload_image_path(id: @page.id)}",
            'fileUpload': "#{rhinoart.upload_file_path(id: @page.id)}",
            'imageGetJson': "#{rhinoart.image_list_path}"
        });
