- new_image = capture do
	= f.fields_for :images___attributes do |ff|
		.span3
			= ff.label :_destroy do
				= ff.check_box :_destroy 
				Delete image

			= ff.file_field :file
			

.image-list
	= f.fields_for :images do |ff| 		
		.span3		
			- if ff.object.file.present?		
				.media.pull-left{style: 'margin: 5px;'}
					.media-object{ style: 'width: 120px;position: relative;'}
						= image_tag ff.object.file.thumb.url 

				= ff.label :_destroy do
					= ff.check_box :_destroy 
					Delete image

			= ff.file_field :file

		
%a.btn.btn-sm.btn-info{href: "#", data: {behavior: "add_new_image", new: new_image.gsub("images___attributes]", "images_attributes][0]").gsub("images_attributes", "images_attributes")}} Add new Image