- new_image = capture do
	- if !f.object.images.any?
		- f.object.images.build

- count = 0
= f.fields_for :images do |ff| 		
	- count = count + 1

	.span3
		- if ff.object.file.present?		
			.media.pull-left{style: 'margin: 5px;'}
				.media-object{ style: 'width: 120px; height: 120px;position: relative;'}
					= image_tag ff.object.file.thumb.url 

			= ff.label :_destroy do
				= ff.check_box :_destroy 
				Delete image


		= ff.file_field :file# if count == 1
