- av_locales = (current_user.present? && current_user.locales.present? && current_user.locales.count > 0) ? current_user.locales : I18n.available_locales

= form_for([@book, @chapter]) do |f| 
    - if f.object.new_record?
        / %legend= "#{t(:_NEW)} #{t('chapter')}"
        %legend= "#{t(:book)}: #{@book.name} / #{t(:chapter)}"
    - else
        %legend= "#{t(:book)}: #{@book.name} / #{t(:chapter)}: \"#{@chapter.name}\""
        
    = render 'shared/error_messages', object: f.object

    / = f.text_field :book, value: params[:book_id]

    .span11
        .row-fluid
            .span1
                = f.label :position
                = f.number_field :position, class: 'span12' 

            .span2
                = f.label :show_title
                = f.check_box :show_title, class: 'span12'

            .span1
                = f.label :active
                = f.check_box :active, class: 'span12'


        .row-fluid
            - av_locales.each do |locale| 
                - I18n.locale = locale          
                %div{ class: "span#{12/av_locales.count}"}
                    %legend= locale
                    .control-group
                        = f.label :name, class: 'control-label'
                        .controls
                            = f.text_field "name_#{locale}", class: 'span11' 

                    .control-group
                        = f.label :descr, class: 'control-label'
                        .controls
                            = f.text_area "descr_#{locale}", class: 'span11' 

        .form-actions
            .btn-overlay
                = f.button t("_BTN_SAVE"), class: "btn btn-primary"
                = f.button t('_BTN_SAVE_AND_CONTINUE'), class: 'btn btn-success', name: 'continue', value: 'continue'
                = link_to t("_BTN_CANCEL"), book_chapters_path(@book), class: "btn" 


