= form_for([@book, @chapter]) do |f| 
    - if f.object.new_record?
        %legend= "#{t(:_NEW)} #{t('chapter')}"
    - else
        %legend= "#{t(:_EDIT)} \"#{@chapter.name}\""
    = render 'shared/error_messages', object: f.object

    / = f.text_field :book, value: params[:book_id]

    .span11
        .row-fluid
            .span10
                = f.label :name
                = f.text_field :name, class: 'span12' 

            .span1
                = f.label :position
                = f.number_field :position, class: 'span12' 

            .span1
                = f.label :active
                = f.check_box :active, class: 'span12'

        .row-fluid
            .span12
                = f.label :descr
                = f.text_area :descr, class: 'span12' 

        .form-actions
            .btn-overlay
                = f.button t("_BTN_SAVE"), class: "btn btn-primary"
                = f.button t('_BTN_SAVE_AND_CONTINUE'), class: 'btn btn-success', name: 'continue', value: 'continue'
                = link_to t("_BTN_CANCEL"), book_chapters_path(@book), class: "btn" 


