= form_for(@book) do |f| 
	- if f.object.new_record?
		%legend= "#{t(:_NEW)} Book"
	- else
		%legend= "#{t(:_EDIT)} \"#{@book.name}\""
	= render 'shared/error_messages', object: f.object

	.row-fluid
		.span6
			= f.label :slug, class: 'control-label'
			.controls
				= f.text_field :slug, class: 'span12'

		.span3
			= f.label :domain_name, class: 'control-label'
			.controls
				= f.text_field :domain_name, class: 'span12'

		.span2
			= f.label :locale, class: 'control-label'
			.controls
				= f.select :locale, I18n.available_locales, class: 'span12'

		.span1
			= f.label :active, class: 'control-label'
			.controls
				= f.check_box :active

	.row-fluid
		- I18n.available_locales.each do |locale| 
			- I18n.locale = locale			
			%div{ class: "span#{12/I18n.available_locales.count}"}
				%legend= locale
				.control-group
					= f.label :name, class: 'control-label'
					.controls
						= f.text_field "name_#{locale}", class: 'span11' 

				.control-group
					= f.label :descr, class: 'control-label'
					.controls
						= f.text_area "descr_#{locale}", class: 'span11' 

	.form-actions
		.btn-overlay
			= f.button t("_BTN_SAVE"), class: "btn btn-primary"
			= f.button t('_BTN_SAVE_AND_CONTINUE'), class: 'btn btn-success', name: 'continue', value: 'continue'
			= link_to t("_BTN_CANCEL"), books_path, class: "btn" 
